.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #f1f3f5!important;
}
.logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.headerTitle {
    margin-left: 20px;
}
.logOut {
    flex: 1;
    text-align: right;
    cursor: pointer;
}
.middle {
    display: inline-flex;
    width: 100%;
}
.sidebar {
    width: 220px;
    height: calc(100vh - 68px - 58px);
    border-radius: 8px;
    /* background: rgb(174,221,129)!important; */
    background: #fff!important;
}
.content {
    flex: 1;
    border-radius: 8px;
}
.footer {
    height: 60px;
    border-top: 1px solid #f1f3f5;
    background: #fff!important;
}
.copyright {
    margin-top: 14px;
    text-align: center;
}