.login, .register {
  height: 100vh;
  padding: 40px;
  margin: 0 auto;
  background: url('../assets/imgs/bg.jpg') no-repeat;
  background-size: cover;
}

.register {
  background: url('../assets/imgs/welcome2.jpg') no-repeat;
  background-size: cover;
}

.title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
